h1 {
    background-color: #2196f3;
    color: white;
    font-weight: 300;
    height: 60px;
    line-height: 90px;
    margin: 0;
    padding-left: 5px;
    width: 100%;
  }


  body{
    font-family: Helvetica;
    margin: 0;
  }

  #container {
    margin: auto;
    max-width: 500px;
    width: 70%;
  }



  ul{
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .book-author {
    font-weight: 100;
    margin: 0;
  }

  .movie-title, .book-title{
    font-weight: 400;
    margin: 0;
  }


  .movie-year {
    font-weight: 100;
    margin: 0;
  }


  .personalized-content{
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
  }

.section-header{
    background-color: #e0e0e0;
    font-weight: 400;
    height: 50px;
    line-height: 70px;
    margin: 0;
    padding-left: 5px;
    vertical-align: baseline;
}




